body{
    float: right;
    float: right;
}
h1 { font-size: 50px;}
button { 
    box-sizing: 300px; padding: 10px;color: black;
    border-radius: 50px; background-color:white;
    padding-left: 30px; padding-right: 30px;
 }
 body { background-color: rgb(241, 247, 248);}
 p {padding-left: 30px ;}   
 a{
    text-decoration: none;
    border-color: rgb(194, 191, 191);
    background-color:white;
    border-radius:20px;
    padding: 10px;
    color: black;
    font-weight:800;
}
button{
    border-color:white;
     background-color:rgb(215,15,100); 
     padding:15px 20px; 
     border-radius:15px; 
     margin:5px;
}